## dataset link - https://www.kaggle.com/datasets/aljarah/xAPI-Edu-Data

In [1]:
import pandas as pd
ds = pd.read_csv("academic_performance.csv")

In [2]:
ds

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [3]:
for i in list(ds.columns):
    print(i)
    boolean = pd.isnull(ds[i])
    if len(ds[boolean])==0:
        print("No empty values")
        print(ds[i].value_counts())
    else:
        print(ds[boolean])
    print('----------------------------------------------------')

gender
No empty values
M    305
F    175
Name: gender, dtype: int64
----------------------------------------------------
NationalITy
No empty values
KW             179
Jordan         172
Palestine       28
Iraq            22
lebanon         17
Tunis           12
SaudiArabia     11
Egypt            9
Syria            7
USA              6
Iran             6
Lybia            6
Morocco          4
venzuela         1
Name: NationalITy, dtype: int64
----------------------------------------------------
PlaceofBirth
No empty values
KuwaIT         180
Jordan         176
Iraq            22
lebanon         19
SaudiArabia     16
USA             16
Palestine       10
Egypt            9
Tunis            9
Iran             6
Syria            6
Lybia            6
Morocco          4
venzuela         1
Name: PlaceofBirth, dtype: int64
----------------------------------------------------
StageID
No empty values
MiddleSchool    248
lowerlevel      199
HighSchool       33
Name: StageID, dtype: int64
----------------------------------------------------
GradeID
No empty values
G-02    147
G-08    116
G-07    101
G-04     48
G-06     32
G-11     13
G-12     11
G-09      5
G-10      4
G-05      3
Name: GradeID, dtype: int64
----------------------------------------------------
SectionID
No empty values
A    283
B    167
C     30
Name: SectionID, dtype: int64
----------------------------------------------------
Topic
No empty values
IT           95
French       65
Arabic       59
Science      51
English      45
Biology      30
Spanish      25
Chemistry    24
Geology      24
Quran        22
Math         21
History      19
Name: Topic, dtype: int64
----------------------------------------------------
Semester
No empty values
F    245
S    235
Name: Semester, dtype: int64
----------------------------------------------------
Relation
No empty values
Father    283
Mum       197
Name: Relation, dtype: int64
----------------------------------------------------
raisedhands
No empty values
10    31
70    31
80    28
72    17
50    17
      ..
61     1
83     1
52     1
67     1
97     1
Name: raisedhands, Length: 82, dtype: int64
----------------------------------------------------
VisITedResources
No empty values
80    29
90    29
82    16
12    13
88    13
      ..
63     1
55     1
54     1
1      1
78     1
Name: VisITedResources, Length: 89, dtype: int64
----------------------------------------------------
AnnouncementsView
No empty values
12    21
42    16
50    16
40    16
2     14
      ..
93     1
17     1
24     1
91     1
78     1
Name: AnnouncementsView, Length: 88, dtype: int64
----------------------------------------------------
Discussion
No empty values
70    24
40    23
33    21
50    18
30    17
      ..
95     1
65     1
76     1
73     1
62     1
Name: Discussion, Length: 90, dtype: int64
----------------------------------------------------
ParentAnsweringSurvey
No empty values
Yes    270
No     210
Name: ParentAnsweringSurvey, dtype: int64
----------------------------------------------------
ParentschoolSatisfaction
No empty values
Good    292
Bad     188
Name: ParentschoolSatisfaction, dtype: int64
----------------------------------------------------
StudentAbsenceDays
No empty values
Under-7    289
Above-7    191
Name: StudentAbsenceDays, dtype: int64
----------------------------------------------------
Class
No empty values
M    211
H    142
L    127
Name: Class, dtype: int64
----------------------------------------------------

In [4]:
def grade_convert(x):
    if x=="F":
        return 1
    else:
        return 2
        

ds['Semester']=ds['Semester'].apply(grade_convert)

In [5]:

def satisfaction(x):
    if x=='Good':
        return 1
    else:
        return -1
    
ds['ParentschoolSatisfaction']=ds['ParentschoolSatisfaction'].apply(satisfaction)

In [6]:
absent_days = list(ds['StudentAbsenceDays'].unique())
def absent(x):
    return absent_days.index(x)
ds['StudentAbsenceDays']=ds['StudentAbsenceDays'].apply(absent)

In [7]:

def survey(x):
    if x=='Yes':
        return 1
    else:
        return 0
    
ds['ParentAnsweringSurvey']=ds['ParentAnsweringSurvey'].apply(survey)

In [8]:
int(ds['Discussion'].mean())

43

In [9]:
dis_avg=int(ds['Discussion'].mean())
def discussion(x):
    if x<15:
        return dis_avg
    else:
        return x
    
ds['Discussion']=ds['Discussion'].apply(discussion)

In [10]:
int(ds['VisITedResources'].mean())

54

In [11]:
vis_avg=int(ds['VisITedResources'].mean())
def visited_resource(x):
    if x<20:
        return vis_avg
    else:
        return x
    
ds['VisITedResources']=ds['VisITedResources'].apply(visited_resource)

In [12]:
int(ds['AnnouncementsView'].mean())

37

In [13]:
ann_avg=int(ds['AnnouncementsView'].mean())
def ann_view(x):
    if x<5:
        return ann_avg
    else:
        return x
    
ds['AnnouncementsView']=ds['AnnouncementsView'].apply(ann_view)

In [14]:
def grade_convert(x):
    y=0
    x=x[::-1]
    for i in range(len(x)):
        if x[i]!='-':
            y+=(int(x[i])*(10**i))
        else:
            break
    return y
        

ds['GradeID']=ds['GradeID'].apply(grade_convert)

In [15]:
ds

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,4,A,IT,1,Father,15,54,37,20,1,1,0,M
1,M,KW,KuwaIT,lowerlevel,4,A,IT,1,Father,20,20,37,25,1,1,0,M
2,M,KW,KuwaIT,lowerlevel,4,A,IT,1,Father,10,54,37,30,0,-1,1,L
3,M,KW,KuwaIT,lowerlevel,4,A,IT,1,Father,30,25,5,35,0,-1,1,L
4,M,KW,KuwaIT,lowerlevel,4,A,IT,1,Father,40,50,12,50,0,-1,1,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,8,A,Chemistry,2,Father,5,54,5,43,0,-1,1,L
476,F,Jordan,Jordan,MiddleSchool,8,A,Geology,1,Father,50,77,14,28,0,-1,0,M
477,F,Jordan,Jordan,MiddleSchool,8,A,Geology,2,Father,55,74,25,29,0,-1,0,M
478,F,Jordan,Jordan,MiddleSchool,8,A,History,1,Father,30,54,14,57,0,-1,1,L
479,F,Jordan,Jordan,MiddleSchool,8,A,History,2,Father,35,54,23,62,0,-1,1,L